.header-page {
  .logo {
    width: 25px;
    height: 40px;
  }

  .nav-tabs {
    --bs-nav-tabs-link-active-bg: none;
    --bs-nav-tabs-border-width: 0;
  }

  img {
    filter: invert(1);
  }
}

.container-xxxl {
  min-width: 350px;
}

a {
  color: inherit;

  &:hover * {
    background-color: $primary;
    color: $light !important;
  }
}

.hide-scrollbar {
  // height: calc(100vh - 345px);

  // @include media-breakpoint-down(md) {
  //   height: calc(100vh - 291px);
  // }

  @include hide-scrollbar;
}

// .tab-pane .d-grid {
//   // grid-template-rows: auto auto;
// }
