.page-header {
  .logo {
    width: 25px;
    height: 40px;
  }

  img {
    filter: invert(1);
  }
}

.container-xxxl {
  min-width: 350px;
}

.tab-pane a:hover,
.tab-pane a:focus,
.tab-pane a:hover *,
.tab-pane a:focus * {
  color: $light !important;
  background-color: $primary;
}

.hide-scrollbar {
  @include hide-scrollbar;
}

.btn-message {
  width: 50px;
  height: 50px;

  @include media-breakpoint-down(md) {
    width: 42px;
    height: 42px;
  }
}

.message-balloon {
  max-width: 75%;
}
