// Theme-colors
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;
$link-hover-color: $light;
$custom-colors: (
  "theme-gray": #efefef,
);
$custom-container-max-widths: (
  "xxxl": 1540px,
);
$custom-grid-breakpoints: (
  "xxxl": 1600px,
);

// Mixin box-shadow
$enable-shadows: true;

// Bootstrap icons dir
$bootstrap-icons-font-dir: "../fonts";
