// Theme-colors
$theme-colors: map.merge($theme-colors, $custom-colors);
$container-max-widths: map.merge(
  $container-max-widths,
  $custom-container-max-widths
);

// Body
$body-bg: $theme-gray;
$body-color: $gray-600;

// Form
$input-bg: $white;

// Lists
$list-group-color: $gray-600;
$list-group-border-color: $theme-gray;

// Navs
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: trasparent;

// Borders
$border-color: $theme-gray;

// Mixin box-shadow
$enable-shadows: true;

// Breakpoints
$grid-breakpoints: map.merge($grid-breakpoints, $custom-grid-breakpoints);

// Bootstrap icons directory
$bootstrap-icons-font-dir: "../fonts";
