//- includes/avatar.pug
.m-auto.text-center
  img.avatar.rounded-circle.mb-3(src='images/avatar_1.jpg', alt='avatar_1', width='200')
  .fw-bold.text-dark Привет, Кодовёнок
  p.small.text-muted Выбери чат, чтобы начать общаться
