//- includes/avatar.pug
.m-auto.text-center
  img.avatar.rounded-circle.mb-3(src="images/avatar_1.jpg" alt="avatar_1" width="200" height="200")
  p.fw-bold.text-dark.mb-0 Привет, Кодовёнок
  p.small.mb-0 Выбери чат, чтобы начать общаться
