//- includes/header-desktop.pug
//- header.col-12.col-md-4.border-end.border-theme-gray.bg-primary
header.order-last.order-md-first.d-flex.align-items-center.py-3.px-3.bg-primary
  a.logo.d-grid(href='#')
    img.m-auto(src='images/icons/logo.svg', alt='logo', width='14', height='auto')
  nav.ms-auto
    ul.nav.nav-tabs.justify-content-end.flex-nowrap.border-0(role='tablist')
      li.nav-item
        button.nav-link.active(data-bs-toggle='tab', data-bs-target='#contacts', type='button', role='tab', aria-controls='contacts', aria-selected='true')
          img.me-2(src='images/icons/people.svg', alt='logo', width='25')
          span.d-none.d-md-inline.small.text-light Контакты
      li.nav-item
        button.nav-link(data-bs-toggle='tab', data-bs-target='#chats', type='button', role='tab', aria-controls='chats', aria-selected='false')
          img.me-2(src='images/icons/chat.svg', alt='logo', width='25')
          span.d-none.d-md-inline.small.text-light Сообщения
      li.nav-item
        button.nav-link(data-bs-toggle='tab', data-bs-target='#profile', type='button', role='tab', aria-controls='profile', aria-selected='false')
          img.me-2(src='images/icons/person.svg', alt='logo', width='25')
          span.d-none.d-md-inline.small.text-light Профиль
