//- includes/head.pug
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width initial-scale=1.0")

  title Мессенджер «Hexlet Chat» (nyrow)

  link(rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180" type="image/png")
  link(rel="icon" href="favicon-32x32.png" sizes="32x32" type="image/png")
  link(rel="icon" href="favicon-16x16.png" sizes="16x16" type="image/png")
  link(rel="manifest" href="site.webmanifest")
  meta(name="theme-color" content="#efefef")

  link(rel="stylesheet" href="css/app.css")
