//- includes/mixins.pug
mixin search-panel(placeholder)
  form(role='search', action='')
    .mb-5
      input.form-control.p-4.border-top-0.border-start-0.border-end-0.shadow-none(type='search', placeholder= placeholder, aria-label='Search')
