//- includes/mixins.pug
mixin search-panel(placeholder)
  form.mb-5(role='search', action='#', method='post')
    input.form-control.p-4.border-theme-gray.border-top-0.border-start-0.border-end-0.shadow-none(type='search', placeholder= placeholder, aria-label='Search')

mixin message-input(id)
  form.border-theme-gray.border-top-md.mt-auto.mx-md-5(role='search', action='#', method='post')
    .input-group.align-items-center.ps-2.pe-md-2.py-md-1
      input.form-control.border-0.shadow-none.ps-4.ps-md-3.pe-0.py-0(type='search', placeholder='Напишите сообщение...', aria-label='Search')
      button.btn.btn-primary.btn-message.rounded-circle.border-0.p-0.m-3(type='submit', id= id)
        i.bi.bi-cursor.fs-4.text-white.m-0
