.contacts {
  max-height: calc(100vh - 342px);

  @include media-breakpoint-down(md) {
    max-height: calc(100vh - 294px);
  }

  @include hide-scrollbar;

  img {
    width: 50px;
  }

  a {
    color: inherit;
  }

  a:hover * {
    background-color: $primary;
    color: $light !important;
  }
}
